<html>
  <head>
    <title>Thomas Jelsas blog</title>
  </head>
  <body>
    <div>
      <h1><a href="">Thomas Jelsas Blog</a></h1>
    </div>

    <div>
      <p>published: 04.02.2016, 23:40</p>
      <h2><a href="">Min første bloggpost</a></h2>
      <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus..</p>
    </div>

    <div>
      <p>published: 04.02.2016, 23:42 </p>
      <h2><a href="">Min andre bloggpost </a></h2>
      <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
    </div>
  </body>
</html>
